In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler

In [67]:
data = pd.read_csv('Loan_with_missing_data.csv')

In [6]:
pd.set_option('display.max_columns', None)
data.head()

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,HomeOwnershipStatus,MonthlyDebtPayments,CreditCardUtilizationRate,NumberOfOpenCreditLines,NumberOfCreditInquiries,DebtToIncomeRatio,BankruptcyHistory,LoanPurpose,PreviousLoanDefaults,PaymentHistory,LengthOfCreditHistory,SavingsAccountBalance,CheckingAccountBalance,TotalAssets,TotalLiabilities,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,54,Married,2,Own,183,0.354418,1,2,0.358336,0.0,Home,0.0,29,9,4944,1779,146111,19183,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0.0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,24825,48,Single,1,Mortgage,496,0.286060,5,3,0.330274,0.0,Debt Consolidation,0.0,21,9,4627,3460,53204,9595,3309.083333,0.935132,3,72676,0.207045,0.201077,794.054238,0.389852,0.0,52.0
2,2018-01-03,47,40724,572,Employed,Bachelor,26,17627,54,Married,2,Rent,902,0.137414,3,0,0.244729,0.0,Home,0.0,20,22,886,895,25176,128874,3393.666667,0.800175,6,5205,0.217627,0.212548,666.406688,0.462157,0.0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,1,Mortgage,755,0.286060,2,1,0.436244,0.0,Home,0.0,24,10,1675,1217,104822,36331,4881.070582,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0.0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,1,Mortgage,274,0.320535,0,0,0.285944,0.0,Debt Consolidation,0.0,26,15,1555,4981,244305,17286,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1.0,36.0

In [4]:
data.describe()

,Age,AnnualIncome,CreditScore,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,CreditCardUtilizationRate,NumberOfOpenCreditLines,NumberOfCreditInquiries,DebtToIncomeRatio,BankruptcyHistory,PreviousLoanDefaults,PaymentHistory,LengthOfCreditHistory,SavingsAccountBalance,CheckingAccountBalance,TotalAssets,TotalLiabilities,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
count,17761.000000,17819.000000,17854.000000,17861.000000,17742.000000,17747.000000,17759.00000,17877.000000,17806.000000,17857.000000,17874.000000,17817.000000,17843.000000,17806.000000,17831.000000,17880.000000,17781.000000,17793.000000,1.778200e+04,1.783800e+04,17841.000000,17868.000000,17813.000000,1.779000e+04,17820.000000,17753.000000,17890.000000,17829.000000,17776.000000,17807.000000
mean,39.703846,59391.548908,571.585639,17.544370,24825.315861,54.087564,1.51557,453.677966,0.286060,3.029400,0.992895,0.285944,0.051169,0.099742,23.986877,14.972036,4943.913953,1778.953971,9.660055e+04,3.633056e+04,4881.070582,0.800175,5.009375,7.267615e+04,0.239178,0.239008,908.559310,0.402463,0.240605,50.760858
std,11.616222,40681.541332,50.902912,11.304832,13277.063016,24.689926,1.38552,240.868863,0.159687,1.731462,0.987815,0.160242,0.220348,0.299664,4.954889,8.379626,6593.897803,2216.761885,1.200386e+05,4.750902e+04,3289.198316,0.120305,2.242229,1.187452e+05,0.035472,0.042147,673.170995,0.339417,0.427463,7.792593
min,18.000000,15000.000000,343.000000,0.000000,3674.000000,12.000000,0.00000,50.000000,0.000974,0.000000,0.000000,0.001720,0.000000,0.000000,8.000000,1.000000,73.000000,24.000000,2.098000e+03,3.720000e+02,1250.000000,0.259203,0.000000,1.004000e+03,0.130101,0.113310,97.030193,0.017607,0.000000,28.800000
25%,31.000000,31694.500000,540.000000,9.000000,15553.500000,36.000000,0.00000,286.000000,0.160421,2.000000,0.000000,0.161433,0.000000,0.000000,21.000000,8.000000,1544.000000,550.000000,3.116925e+04,1.116425e+04,2620.750000,0.728228,3.000000,8.779750e+03,0.214058,0.209113,493.132391,0.179425,0.000000,46.000000
50%,40.000000,48703.000000,578.000000,17.000000,21916.500000,48.000000,1.00000,401.000000,0.265993,3.000000,1.000000,0.264544,0.000000,0.000000,24.000000,15.000000,2990.000000,1114.000000,6.070000e+04,2.228000e+04,4023.500000,0.821249,5.000000,3.293500e+04,0.236176,0.235388,725.230084,0.302406,0.000000,52.000000
75%,48.000000,74686.500000,609.000000,25.000000,30790.000000,72.000000,2.00000,562.000000,0.390272,4.000000,2.000000,0.390325,0.000000,0.000000,27.000000,22.000000,5892.000000,2119.000000,1.174632e+05,4.325575e+04,6149.000000,0.892225,6.000000,8.917125e+04,0.261555,0.265300,1107.765075,0.510453,0.000000,56.000000
max,80.000000,485341.000000,712.000000,61.000000,148776.000000,120.000000,5.00000,2919.000000,0.917380,13.000000,7.000000,0.902253,1.000000,1.000000,45.000000,29.000000,200089.000000,38024.000000,2.619627e+06,1.417302e+06,25000.000000,0.999433,16.000000,2.603208e+06,0.405029,0.446787,10892.629520,4.647657,1.000000,84.000000

In [48]:
missed_values = data.isnull().sum()
print(missed_values)

ApplicationDate               2207
Age                           2239
AnnualIncome                  2181
CreditScore                   2146
EmploymentStatus              2198
EducationLevel                2149
Experience                    2139
LoanAmount                    2258
LoanDuration                  2253
MaritalStatus                 2137
NumberOfDependents            2241
HomeOwnershipStatus           2227
MonthlyDebtPayments           2123
CreditCardUtilizationRate     2194
NumberOfOpenCreditLines       2143
NumberOfCreditInquiries       2126
DebtToIncomeRatio             2183
BankruptcyHistory             2157
LoanPurpose                   2220
PreviousLoanDefaults          2194
PaymentHistory                2169
LengthOfCreditHistory         2120
SavingsAccountBalance         2219
CheckingAccountBalance        2207
TotalAssets                   2218
TotalLiabilities              2162
MonthlyIncome                 2159
UtilityBillsPaymentHistory    2132
JobTenure                     2187
NetWorth                      2210
BaseInterestRate              2180
InterestRate                  2247
MonthlyLoanPayment            2110
TotalDebtToIncomeRatio        2171
LoanApproved                  2224
RiskScore                     2193
dtype: int64

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ApplicationDate             17793 non-null  object
 1   Age                         17761 non-null  float64
 2   AnnualIncome                17819 non-null  float64
 3   CreditScore                 17854 non-null  float64
 4   EmploymentStatus            17802 non-null  object
 5   EducationLevel              17851 non-null  object
 6   Experience                  17861 non-null  float64
 7   LoanAmount                  17742 non-null  float64
 8   LoanDuration                17747 non-null  float64
 9   MaritalStatus               17863 non-null  object
 10  NumberOfDependents          17759 non-null  float64
 11  HomeOwnershipStatus         17773 non-null  object
 12  MonthlyDebtPayments         17877 non-null  float64
 13  CreditCardUtilizationRate   17806 non-null  float64
 14  NumberOfOpenCreditLines     17857 non-null  float64
 15  NumberOfCreditInquiries     17874 non-null  float64
 16  DebtToIncomeRatio           17817 non-null  float64
 17  BankruptcyHistory           17843 non-null  float64
 18  LoanPurpose                 17780 non-null  object
 19  PreviousLoanDefaults        17806 non-null  float64
 20  PaymentHistory              17831 non-null  float64
 21  LengthOfCreditHistory       17880 non-null  float64
 22  SavingsAccountBalance       17781 non-null  float64
 23  CheckingAccountBalance      17793 non-null  float64
 24  TotalAssets                 17782 non-null  float64
 25  TotalLiabilities            17838 non-null  float64
 26  MonthlyIncome               17841 non-null  float64
 27  UtilityBillsPaymentHistory  17868 non-null  float64
 28  JobTenure                   17813 non-null  float64
 29  NetWorth                    17790 non-null  float64
 30  BaseInterestRate            17820 non-null  float64
 31  InterestRate                17753 non-null  float64
 32  MonthlyLoanPayment          17890 non-null  float64
 33  TotalDebtToIncomeRatio      17829 non-null  float64
 34  LoanApproved                17776 non-null  float64
 35  RiskScore                   17807 non-null  float64
dtypes: float64(30), object(6)
memory usage: 5.5+ MB

In [13]:
numerical_columns = ['Age', 'AnnualIncome', 'CreditScore', 'Experience', 'LoanAmount', 'LoanDuration', 'NumberOfDependents', 
                     'MonthlyDebtPayments', 'CreditCardUtilizationRate','LengthOfCreditHistory', 'SavingsAccountBalance', 
                     'CheckingAccountBalance', 'JobTenure', 'NetWorth', 'NumberOfOpenCreditLines', 'NumberOfCreditInquiries', 
                     'DebtToIncomeRatio', 'TotalAssets', 'TotalLiabilities', 'MonthlyIncome', 'BaseInterestRate', 'InterestRate', 
                     'MonthlyLoanPayment', 'TotalDebtToIncomeRatio', 'RiskScore', 'PaymentHistory', 'BankruptcyHistory', 
                     'UtilityBillsPaymentHistory', 'PreviousLoanDefaults', 'LoanApproved']

categorical_columns = ['ApplicationDate', 'EmploymentStatus', 'EducationLevel', 'MaritalStatus', 'HomeOwnershipStatus', 'LoanPurpose']

In [21]:
binary_columns = []
discrete_columns = []
continuous_columns = []

for col in numerical_columns:
    unique_values = data[col].dropna().unique()

    if set(unique_values).issubset({0, 1}):
        binary_columns.append(col)

    elif all(float(x).is_integer() for x in unique_values):
        discrete_columns.append(col)

    else:
        continuous_columns.append(col)

print("Kolumny binarne:", binary_columns)
print("Kolumny dyskretne:", discrete_columns)
print("Kolumny ciągłe:", continuous_columns)

Kolumny binarne: ['BankruptcyHistory', 'PreviousLoanDefaults', 'LoanApproved']
Kolumny dyskretne: ['Age', 'AnnualIncome', 'CreditScore', 'Experience', 'LoanAmount', 'LoanDuration', 'NumberOfDependents', 'MonthlyDebtPayments', 'LengthOfCreditHistory', 'SavingsAccountBalance', 'CheckingAccountBalance', 'JobTenure', 'NetWorth', 'NumberOfOpenCreditLines', 'NumberOfCreditInquiries', 'TotalAssets', 'TotalLiabilities', 'PaymentHistory']
Kolumny ciągłe: ['CreditCardUtilizationRate', 'DebtToIncomeRatio', 'MonthlyIncome', 'BaseInterestRate', 'InterestRate', 'MonthlyLoanPayment', 'TotalDebtToIncomeRatio', 'RiskScore', 'UtilityBillsPaymentHistory']

In [2]:
binary_columns = ['BankruptcyHistory', 'PreviousLoanDefaults', 'LoanApproved']
discrete_columns = ['Age', 'AnnualIncome', 'CreditScore', 'Experience', 'LoanAmount', 'LoanDuration', 
                    'NumberOfDependents', 'MonthlyDebtPayments', 'LengthOfCreditHistory', 
                    'SavingsAccountBalance', 'CheckingAccountBalance', 'JobTenure', 'NetWorth', 
                    'NumberOfOpenCreditLines', 'NumberOfCreditInquiries', 'TotalAssets', 
                    'TotalLiabilities', 'PaymentHistory']
continuous_columns = ['CreditCardUtilizationRate', 'DebtToIncomeRatio', 'MonthlyIncome', 
                      'BaseInterestRate', 'InterestRate', 'MonthlyLoanPayment', 
                      'TotalDebtToIncomeRatio', 'RiskScore', 'UtilityBillsPaymentHistory']
categorical_columns = ['EmploymentStatus', 'EducationLevel', 'MaritalStatus', 
                       'HomeOwnershipStatus', 'LoanPurpose', 'ApplicationDate']

# Dataset 1: Wypełnienie medianą/modą

In [23]:
data1 = data.copy()

# Wypełnianie braków w kolumnach binarnych (modą)
for col in binary_columns:
    mode_value = data1[col].mode()[0]
    data1[col].fillna(mode_value, inplace=True)

# Wypełnianie braków w kolumnach dyskretnych (medianą) i zaokrąglanie do liczb całkowitych
for col in discrete_columns:
    median_value = data1[col].median()
    data1[col].fillna(median_value, inplace=True)
    data1[col] = data1[col].round().astype(int)

# Wypełnianie braków w kolumnach ciągłych (medianą)
for col in continuous_columns:
    median_value = data1[col].median()
    data1[col].fillna(median_value, inplace=True)

# Wypełnianie braków w kolumnach kategorycznych (modą) i ustawianie typu jako kategoria
for col in categorical_columns:
    mode_value = data1[col].mode()[0]
    data1[col].fillna(mode_value, inplace=True)
    data1[col] = data1[col].astype('category')

data1.to_csv('dataset_filled_median.csv', index=False)

C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(median_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\2478950053.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1[col].fillna(mode_value, inplace=True)

# Dataset 2: Wypełnienie średnią/modą

In [29]:
data2 = data.copy()

# Wypełnianie braków w kolumnach binarnych (modą)
for col in binary_columns:
    mode_value = data2[col].mode()[0]
    data2[col].fillna(mode_value, inplace=True)

# Wypełnianie braków w kolumnach dyskretnych (średnią) i zaokrąglanie do liczb całkowitych
for col in discrete_columns:
    mean_value = data2[col].mean()
    data2[col].fillna(mean_value, inplace=True)
    data2[col] = data2[col].round().astype(int)

# Wypełnianie braków w kolumnach ciągłych (średnią)
for col in continuous_columns:
    mean_value = data2[col].mean()
    data2[col].fillna(mean_value, inplace=True)

# Wypełnianie braków w kolumnach kategorycznych (modą) i ustawianie typu jako kategoria
for col in categorical_columns:
    mode_value = data2[col].mode()[0]
    data2[col].fillna(mode_value, inplace=True)
    data2[col] = data2[col].astype('category')

data2.to_csv('dataset_filled_mean.csv', index=False)

C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\78569980.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(mode_value, inplace=True)

# Dataset 3: Wypełnianie braków za pomocą regresji

In [89]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split

selected_features = ['CreditScore', 'NetWorth', 'MonthlyIncome', 'BaseInterestRate', 'TotalDebtToIncomeRatio', 'LengthOfCreditHistory']
target_columns = ['AnnualIncome', 'LoanAmount', 'LoanDuration', 'MonthlyLoanPayment']

clean_data = data.dropna(subset=selected_features)
print(f"Liczba rekordów po oczyszczeniu: {len(clean_data)}")

X = clean_data[selected_features]
poly = PolynomialFeatures(degree=2, include_bias=False)
X_poly = poly.fit_transform(X)

models = {}

for target in target_columns:
    if data[target].isnull().sum() > 0:
        y = clean_data[target].dropna()
        X_target = clean_data.loc[y.index, selected_features]
        X_target_poly = poly.transform(X_target)

        X_train, X_test, y_train, y_test = train_test_split(X_target_poly, y, test_size=0.2, random_state=42)

        model = LinearRegression()
        model.fit(X_train, y_train)
        models[target] = model

        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)

        r2_train = r2_score(y_train, y_train_pred)
        r2_test = r2_score(y_test, y_test_pred)
        mse_train = mean_squared_error(y_train, y_train_pred)
        mse_test = mean_squared_error(y_test, y_test_pred)

        print(f"Model dla {target} wytrenowany.")
        print(f"R² (trening): {r2_train:.2f}, R² (test): {r2_test:.2f}")
        print(f"MSE (trening): {mse_train:.2f}, MSE (test): {mse_test:.2f}")

Liczba rekordów po oczyszczeniu: 10062
Model dla AnnualIncome wytrenowany.
R² (trening): 0.98, R² (test): 0.97
MSE (trening): 31907325.16, MSE (test): 52870915.91
Model dla LoanAmount wytrenowany.
R² (trening): 0.81, R² (test): 0.79
MSE (trening): 33146417.47, MSE (test): 36162432.65
Model dla LoanDuration wytrenowany.
R² (trening): 0.92, R² (test): 0.92
MSE (trening): 49.28, MSE (test): 48.33
Model dla MonthlyLoanPayment wytrenowany.
R² (trening): 0.89, R² (test): 0.88
MSE (trening): 48598.50, MSE (test): 52935.70

In [94]:
data3 = data.copy()

# 1. Wypełnianie braków za pomocą wytrenowanych modeli
for target in target_columns:
    if target in models:
        model = models[target]
        missing_mask = data3[target].isnull()
        if missing_mask.sum() > 0:
            print(f"Uzupełnianie braków w kolumnie: {target}")
            X_missing = data3.loc[missing_mask, selected_features].fillna(0)
            X_missing_poly = poly.transform(X_missing)
            predicted_values = model.predict(X_missing_poly)

            # Zaokrąglanie wartości dla zmiennych dyskretnych
            if target in ['LoanDuration']:
                predicted_values = np.round(predicted_values)

            # Uzupełnianie braków
            data3.loc[missing_mask, target] = predicted_values

# 2. Wypełnianie braków w kolumnach binarnych (moda)
for column in binary_columns:
    if data3[column].isnull().sum() > 0:
        mode_value = data3[column].mode()[0]
        data3[column].fillna(mode_value, inplace=True)

# 3. Wypełnianie braków w kolumnach kategorycznych (moda)
for column in categorical_columns:
    if data3[column].isnull().sum() > 0:
        mode_value = data3[column].mode()[0]
        data3[column].fillna(mode_value, inplace=True)

# 4. Wypełnianie braków w kolumnach numerycznych (połowa medianą, połowa średnią)
for column in discrete_columns + continuous_columns:
    if data3[column].isnull().sum() > 0:
        median_value = data3[column].median()
        mean_value = data3[column].mean()
        missing_indices = data3[column].isnull()
        half_indices = missing_indices[missing_indices].index[:len(missing_indices) // 2]
        data3.loc[half_indices, column] = median_value
        data3[column].fillna(mean_value, inplace=True)

# 5. Konwersja typów dla kolumn dyskretnych i binarnych
for column in discrete_columns:
    data3[column] = data3[column].astype(int)

for column in binary_columns:
    data3[column] = data3[column].astype(float)

data3.to_csv('dataset_filled_combined_final.csv', index=False)

Uzupełnianie braków w kolumnie: AnnualIncome
Uzupełnianie braków w kolumnie: LoanAmount
Uzupełnianie braków w kolumnie: LoanDuration
Uzupełnianie braków w kolumnie: MonthlyLoanPayment

C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mode_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)
C:\Users\filip\AppData\Local\Temp\ipykernel_6708\4196467203.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)

# Skalowanie min-max

In [21]:
#data = pd.read_csv('dataset_filled_mean.csv')
#data = pd.read_csv('dataset_filled_median.csv')
data = pd.read_csv('dataset_filled_combined_final.csv')

dataset4 = data.copy()

dataset4.drop(columns=['ApplicationDate'], inplace=True)

one_hot_columns = ['HomeOwnershipStatus', 'MaritalStatus', 'LoanPurpose']
label_encode_columns = ['EmploymentStatus', 'EducationLevel']

dataset4 = pd.get_dummies(dataset4, columns=one_hot_columns)
one_hot_encoded_columns = [col for col in dataset4.columns if any(prefix in col for prefix in one_hot_columns)]
dataset4[one_hot_encoded_columns] = dataset4[one_hot_encoded_columns].astype(int)

label_encoder = LabelEncoder()
for column in label_encode_columns:
    dataset4[column] = label_encoder.fit_transform(dataset4[column])

scaler = MinMaxScaler()

numerical_columns = [col for col in discrete_columns + continuous_columns if col not in binary_columns]
dataset4[numerical_columns] = scaler.fit_transform(dataset4[numerical_columns])

#dataset4.to_csv('dataset_filled_mean_min_max.csv', index=False)
#dataset4.to_csv('dataset_filled_median_min_max.csv', index=False)
dataset4.to_csv('dataset_filled_combined_min_max.csv', index=False)
print("Przetwarzanie zakończone i zapisane do pliku csv.")

Przetwarzanie zakończone i zapisane do pliku csv.

# Standaryzacja

In [30]:
# data = pd.read_csv('dataset_filled_mean.csv')
# data = pd.read_csv('dataset_filled_median.csv')
data = pd.read_csv('dataset_filled_combined_final.csv')

dataset_standardized = data.copy()

dataset_standardized.drop(columns=['ApplicationDate'], inplace=True)

one_hot_columns = ['HomeOwnershipStatus', 'MaritalStatus', 'LoanPurpose']
label_encode_columns = ['EmploymentStatus', 'EducationLevel']

dataset_standardized = pd.get_dummies(dataset_standardized, columns=one_hot_columns)
one_hot_encoded_columns = [col for col in dataset_standardized.columns if any(prefix in col for prefix in one_hot_columns)]
dataset_standardized[one_hot_encoded_columns] = dataset_standardized[one_hot_encoded_columns].astype(int)

label_encoder = LabelEncoder()
for column in label_encode_columns:
    dataset_standardized[column] = label_encoder.fit_transform(dataset_standardized[column])

scaler = StandardScaler()

numerical_columns = [col for col in discrete_columns + continuous_columns if col not in binary_columns]
dataset_standardized[numerical_columns] = scaler.fit_transform(dataset_standardized[numerical_columns])

# dataset_standardized.to_csv('dataset_filled_mean_standardized.csv', index=False)
# dataset_standardized.to_csv('dataset_filled_median_standardized.csv', index=False)
dataset_standardized.to_csv('dataset_filled_combined_standardized.csv', index=False)
print("Przetwarzanie zakończone i zapisane do pliku csv.")

Przetwarzanie zakończone i zapisane do pliku csv.

In [12]:
ds1 = pd.read_csv('data/filled_data/dataset_filled_median.csv')

missing_values = ds1.isnull().sum()
if missing_values.sum() == 0:
    print("Brak brakujących wartości w zbiorze danych.")
else:
    print("Są jakieś braki w następujących kolumnach:")
    print(missing_values[missing_values > 0])
ds1.head()

Brak brakujących wartości w zbiorze danych.

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,48,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0.0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,21916,48,Single,...,3309.083333,0.935132,3,32935,0.207045,0.201077,794.054238,0.389852,0.0,52.0
2,2018-01-03,47,40724,578,Employed,Bachelor,26,17627,48,Married,...,3393.666667,0.821249,6,5205,0.217627,0.212548,666.406688,0.462157,0.0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,4023.500000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0.0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1.0,36.0

In [14]:
ds2 = pd.read_csv('data/filled_data/dataset_filled_mean.csv')

missing_values = ds2.isnull().sum()
if missing_values.sum() == 0:
    print("Brak brakujących wartości w zbiorze danych.")
else:
    print("Są jakieś braki w następujących kolumnach:")
    print(missing_values[missing_values > 0])
ds2.head()

Brak brakujących wartości w zbiorze danych.

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,54,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0.0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,24825,48,Single,...,3309.083333,0.935132,3,72676,0.207045,0.201077,794.054238,0.389852,0.0,52.0
2,2018-01-03,47,40724,572,Employed,Bachelor,26,17627,54,Married,...,3393.666667,0.800175,6,5205,0.217627,0.212548,666.406688,0.462157,0.0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,4881.070582,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0.0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1.0,36.0

In [15]:
ds3 = pd.read_csv('data/filled_data/dataset_filled_combined.csv')

missing_values = ds3.isnull().sum()
if missing_values.sum() == 0:
    print("Brak brakujących wartości w zbiorze danych.")
else:
    print("Są jakieś braki w następujących kolumnach:")
    print(missing_values[missing_values > 0])
ds3.head()

Brak brakujących wartości w zbiorze danych.

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,50,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0.0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,23964,48,Single,...,3309.083333,0.935132,3,32935,0.207045,0.201077,794.054238,0.389852,0.0,52.0
2,2018-01-03,47,40724,578,Employed,Bachelor,26,17627,-151,Married,...,3393.666667,0.821249,6,5205,0.217627,0.212548,666.406688,0.462157,0.0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,4023.500000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0.0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1.0,36.0

In [16]:
min_max = pd.read_csv('data/scaled_data/min_max/dataset_filled_mean_min_max.csv')
min_max.head()

,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,...,HomeOwnershipStatus_Rent,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,MaritalStatus_Widowed,LoanPurpose_Auto,LoanPurpose_Debt Consolidation,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other
0,0.435484,0.053042,0.742547,0,4,0.360656,0.065320,0.388889,0.4,0.046358,...,0,0,1,0,0,0,0,0,1,0
1,0.322581,0.052534,0.772358,0,0,0.245902,0.145766,0.333333,0.2,0.155455,...,0,0,0,1,0,0,1,0,0,0
2,0.467742,0.054692,0.620596,0,1,0.426230,0.096160,0.388889,0.4,0.296968,...,1,0,1,0,0,0,0,0,1,0
3,0.645161,0.114989,0.547425,0,3,0.557377,0.235862,0.777778,0.2,0.245730,...,0,0,0,1,0,0,0,0,1,0
4,0.306452,0.187660,0.680217,0,0,0.278689,0.037973,0.222222,0.2,0.078076,...,0,0,1,0,0,0,1,0,0,0

In [17]:
standardized = pd.read_csv('data/scaled_data/standardized/dataset_filled_mean_standardized.csv')
standardized.head()

,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,...,HomeOwnershipStatus_Rent,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,MaritalStatus_Widowed,LoanPurpose_Auto,LoanPurpose_Debt Consolidation,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other
0,0.480780,-0.506366,0.943372,0,4,0.412483,-0.933505,-0.003341,0.327243,-1.188795,...,0,0,1,0,0,0,0,0,1,0
1,-0.158677,-0.512590,1.172094,0,0,-0.242712,-0.000022,-0.261327,-0.433522,0.185701,...,0,0,0,1,0,0,1,0,0,0
2,0.663482,-0.486157,0.007691,0,1,0.786880,-0.575642,-0.003341,0.327243,1.968594,...,1,0,1,0,0,0,0,0,1,0
3,1.668341,0.252418,-0.553717,0,3,1.535674,1.045418,1.802560,-0.433522,1.323064,...,0,0,0,1,0,0,0,0,1,0
4,-0.250027,1.142561,0.465135,0,0,-0.055514,-1.250824,-0.777299,-0.433522,-0.789181,...,0,0,1,0,0,0,1,0,0,0